/* SINK */

@keyframes bajarysubir {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);  
  }
}

.bajarysubir {
  &:hover {
    animation: sink 3s linear;
    animation-iteration-count: 1;
  }
}

/* USAR LA CLASE .bajarysubir EN EL ELEMENTO */