/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0ede9;
}

.flex {
    display: flex;
}

/* VERSION MOBILE FIRST 
estilos del header */ 

.container-header {
    height: 60px;
    background-color: #FFF;
    justify-content: space-around;
    align-items: center;
}

.logo {
    /* CUANDO USAMOS PORCENTAJE; LE ESTAMOS DICIENDO QUE ES EL VALOR EN RELACION A SU CONTENEDOR */
    height: 100%;
}

.navbar {
    display: none;
}

.lista {
    justify-content: space-around;
    list-style-type: none;  
}

.lista li {
    margin: 5px 25px;
}

.lista a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
} 

.fa-burger{
    visibility: visible;
    font-size: 24px;
}



/* RESPONSIVE | MEDIA QUERIES */
/* min-width (a partir de) y max-width (HASTA)  */
@media screen and (min-width:550px)  {
    .container-header {
        justify-content: space-between;
    }
}

@media screen and (min-width: 769px) {
    .container-header {
        justify-content: space-around;
    }

    .fa-burger{
        visibility: hidden;
    }

    .navbar {
        display: block;
    }

}
/* EJEMPLO CARDS */


h1 {
color: yellow;
}



#id {
    color: blue;
}

.clase {
    color: red !important;
}