header {
    padding: 10px;
    background-color: brown;
}

img {
    width: 400px;
}

.flex {
    background-color: aquamarine;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* JUSTIFY CONTENT SIEMPRE MANIPULA EL EJE PRINCIPAL x DEFECTO ES HORIZONTAL */
    justify-content: flex-end;
    /* ALIGN-ITEMS SIEMPRE MANIPULA EL EJE SECUNDARIO / CROSS-AXIS x DEFECTO ES VERTICAL */
    align-items: flex-start;
}

/* REPASO EJES PRINCIPALES Y SECUNDARIOS */ 

/* DISPLAY INLINE Y DISPLAY BLOCK */ 


/* ESTE SELECTOR LLAMA AL ELEMENTO DE LA DERECHA QUE CUMPLA CON SER HIJO DEL ELEMENTO DE LA IZQUIERDA */ 
.titulo h2 {
    color: white;
}

div p {

}

.fa-linkedin {
    color: #FF0000;
}